@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Student @ViewData["Student"]</p>
<h4> @ViewData["email"]</h4>
<address>
    <strong>More information: </strong><a href="https://github.com/gabrielrrizzi/ProjectC-Asp.Net">GitHub</a>
</address>
